body {background-color:rgb(244,172,205)}
h1{text-align: center;}
h1{color: rgb(255,237,0)}
h1{font-size: 80px}
h1{font-family: 'Diplomata SC', cursive;}
body{text-align: center;}
button {color:rgb(244,172,205)}
h2{color: rgb(255,237,0)}
h2{font-size: 30px}
h2{font-family: 'Diplomata SC', cursive;}

.resultSection{
height: 300px;
display: flex;
justify-content: center;
align-items: center;
font-size: 100px;
font-family:'Diplomata SC', cursive;
color: rgb(255,237,0);
}
